body{
    font-family: Arial, Helvetica, sans-serif;
    color:white; 
    background: 
    url(https://upload.wikimedia.org/wikipedia/en/thumb/8/84/Indian_Premier_League_Official_Logo.svg/1200px-Indian_Premier_League_Official_Logo.svg.png)no-repeat;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.box{
width: 450px;
float:right;
border:1px solid rgb(25, 50, 193);
border-radius: 5PX;
border-width: 2PX;
}
.box ul li{
    width:170px;
    float:left;
    margin:10px auto;
    text-align: center;
}
.box ul li a{
     text-decoration:none;
     color:rgb(12, 17, 28);
}
.box ul li:hover{ background-color:rgb(124, 144, 217); }
.box ul li a:hover{ background-color:rgb(124, 144, 217); }
.wd{
    width:200px;
    height:539px;
    background-color:rgb(29, 71, 207);
    opacity:0.8;
    padding:55px;
}

